/* font-family: 'Josefin Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Source Serif Pro', serif;

font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /* font size */

  --ten: 10px;
  --fifteen: 15px;
  --twenty: 20px;
  --thirty: 30px;
  --forty: 40px;
  --fifty: 50px;
}

[data-theme="dark"] {
  --first-color: hsl(31, 76%, 74%);
  --button-color: hsl(0, 0%, 24%);
  --button-color-alt: hsl(0, 0%, 28%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 16%);
  --border-color: hsl(0, 0%, 20%);
  --text-color-light: hsl(0, 0%, 55%);

  /* font size */
  --ten: 10px;
  --fifteen: 15px;
  --twenty: 20px;
  --thirty: 30px;
  --forty: 40px;
  --fifty: 50px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: var(--body-color);
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-color);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16vw;
  background-color: transparent;
  z-index: 10;
  color: var(--title-color);
  transition: all 0.2s ease;
  font-size: var(--fifteen);
  font-weight: 600;
}

Link {
  text-decoration: none;
}

.scrolled {
  background-color: var(--body-color);
  color: var(--title-color);
  box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.207);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--title-color);
  outline: none;
}

.logo i {
  font-size: 30px;
}

.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.li {
  margin: 0 10px;
  position: relative;
  color: var(--title-color);
  transition: all 0.2s ease;
  outline: none;
}

.li:hover {
  color: var(--first-color);
}

/* underline for headers */

.highlight::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0px;
  top: 25px;
  background-color: var(--first-color);
  margin: auto;
}

.li a {
  text-decoration: none;
  color: var(--title-color);
  transition: all 0.2s ease;
}

.li.highlight {
  color: var(--first-color);
}

.li a:hover {
  color: var(--first-color);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  /* background-color: blueviolet; */
}

.icons > * {
  margin: 0 5px;
}

.shopping-card {
  position: relative;
  border: 1px solid gray;
  padding: 5px;
  background-color: var(--first-color);
  cursor: pointer;
  outline: none;
  color: var(--button-color);
}

.nav.scrolled .shopping-card {
  border: 0;
}

.shopping-card .count {
  position: absolute;
  top: -70%;
  right: -50%;
  padding: 5px;
  background-color: var(--first-color);
  border-radius: 3px;
  z-index: -1;
}

.toggle-btn {
  cursor: pointer;
}

.menu-btn {
  display: none;
}

.menu-btn i {
  cursor: pointer;
  font-size: var(--twenty);
}

.close-btn {
  display: none;
  cursor: pointer;
  font-size: 20px;
}

/* side navbar */

@media screen and (max-width: 760px) {
  .nav {
    padding: 0 2vw;
  }

  .menu-btn {
    display: flex;
  }

  .ul {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    transform: translateX(100%);
    transition: all 0.2s ease;
  }

  .ul.show {
    transform: translateX(0);
  }

  .li {
    margin: 30px 0;
  }

  .highlight::after {
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    margin-left: -10px;
  }

  .close-btn {
    display: flex;
    position: absolute;
    top: 4%;
    right: 6%;
  }

  .icons {
    margin: 0;
  }
}
/* home section */

.home {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0 16vw; */
  color: var(--title-color);
  /* background-color: red; */
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin: 0 50px;

  /* width: 10vw;
  height: 20vh; */

  /* writing-mode: vertical-lr; */
}

.social-icons i {
  writing-mode: vertical-lr;
  transform: rotate(-90deg);
  margin: 20px 0;
  font-size: var(--twenty);
  /* background-color: var(--first-color); */
  color: var(--first-color);
  cursor: pointer;
  /* border: 1px solid gray; */
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 50px;
  width: 25%;
}

.home-text > * {
  margin: 20px 0;
}

.home-text h2 {
  font-size: var(--forty);
}

.btn {
  padding: 10px 15px;
  color: black;
  background-color: var(--text-color-light);
  border: 0;
  font-size: var(--twenty);
  position: relative;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  transform: scale(0);
  background-color: var(--first-color);
  transition: all 0.2s ease;
}

.btn:hover::before {
  transform: scale(1);
}

.image {
  width: 30vw;
  height: 100vh;
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 400px;
  /* margin-top: 100px; */
}

/* testimonial section */

.testimonials {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 17vw;
  /* background-color: lightpink; */
}

.testimonial-swiper {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* background-color: lightskyblue; */
  padding: 5px;
  margin: 0;
  color: var(--title-color);
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.testimonial-card > * {
  margin: 15px 0;
}

.testimonial-quote i {
  font-size: 30px;
  background-color: var(--container-color);
  color: var(--first-color);
  box-shadow: 0px 0px 8px var(--body-color);
  padding: 10px;
}

.testimonial-description,
.testimonial-perfil-detail {
  color: var(--text-color);
}

.testimonial-date,
.testimonial-perfil-name {
  color: var(--title-color);
  font-weight: 600;
}

.testimonial-perfil {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.testimonial-perfil img {
  width: 80px;
  border-radius: 50%;
}

.testimonial-perfil-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  margin-left: 8%;
}

/* .swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
} */

.testimonial-swiper i {
  color: var(--first-color);
}

.testimonials-btns {
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.testimonials-btns > * {
  margin: 0px 5px 0px 0px;
}

/* .swiper-button-next {
  position: absolute;
  top: initial;
  bottom: 5%;
  right: initial;
  left: 20%;
  width: initial;
  height: initial;
  padding: 5px;
}
.swiper-button-prev {
  position: absolute;
  top: initial;
  bottom: 5%;
  left: 0%;
  width: initial;
  height: initial;
  padding: 5px;
} */

.swiper-button-next i,
.swiper-button-prev i {
  cursor: pointer;
  font-size: 30px;
  color: var(--first-color);
  background-color: var(--container-color);
  padding: 10px;
  border: 0;
}

/* testimonial image */

.testimonial-img-div {
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.testimonial-img-div img {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.testimonial-img-div::after {
  position: absolute;
  top: -20%;
  right: -15%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  z-index: -2;
}

/* product section */

.products-section {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--title-color);
  background-color: var(--body-color);
}

/* .products-section h2 {
  text-align: center;
} */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* grid-gap: 20px; */
  /* justify-content: center; */
}
.product {
  margin: 50px 50px 100px 50px;
  background-color: var(--container-color);
  padding: 20px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease;
}

.product:hover {
  box-shadow: 0px 0px 12px var(--border-color);
}

.product > * {
  margin: 10px 0;
}
.products img {
  width: 150px;
}

.product h3 {
  text-align: center;
}

.product p {
  color: var(--first-color);
}
.i-div {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--button-color);
  margin: 0;
  width: 70%;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 10px;
  outline: none;
}

/* .i-div i {
  font-size: var(--twenty);
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
} */

.i-div:hover {
  transform: scale(1.1);
}

.products-btn {
  padding: 10px 15px;
  color: var(--body-color);
  background-color: var(--title-color);
  border: 0;
  font-size: var(--twenty);
  position: relative;
  cursor: pointer;
  text-align: right;
  position: relative;
  left: 340px;
}

.notification {
  position: fixed;
  bottom: 30px;
  left: 50px;
  font-size: var(--ten);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--first-color);
  color: var(--title-color);
  /* color: green; */
  transform: translateY(100px);
  transition: all 0.4s ease;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notification.show-notif {
  transform: translateY(0);
}

/* home main section */

.home-main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
}

/* products main page */
.products-main {
  width: 100vw;
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 25vw 10vh 25vw;
  color: var(--title-color);
  background-color: var(--body-color);
}

.products-main h1 {
  text-align: center;
  margin-bottom: 50px;
}

.products-main .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  /* padding: 0 10vw; */
}

.products-main .products .product {
  margin: 10px;
}

/* login section */

.login-section {
  width: 100vw;
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding-top: 15vh;
  background-color: var(--container-color);
  color: var(--title-color);
  position: relative;
}

.inner-login {
  width: 50%;
  min-height: 40vh;
  height: auto;
  /* background-color: var(--first-color); */
  padding: 20px;
  margin-top: 20px;
  border: 2px solid var(--title-color);
  margin-bottom: 5vh;
}

.inner-login .login-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  height: 10%;
  /* padding: 20px; */
}

.inner-login .login-header .header-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--title-color);
  cursor: pointer;
  padding: 30px;
}

/* login form */

.login-form {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  transition: all 1s ease;
  padding: 5vh 0 0 0;
}

.login-form > *,
.register-form > * {
  margin: 20px 0;
}

.login-form .div,
.register-form .div {
  display: flex;
  flex-direction: column;
}

.login-form .div input,
.register-form .div input {
  width: 100%;
  /* height: 100%; */
  padding: 10px 20px;
  margin-top: 5px;
  /* outline: 2px solid var(--first-color); */
  outline: none;
}

.login-form .div input:focus {
  /* border: 0; */
  outline: 2px solid var(--first-color);
}

.login-form a {
  text-decoration: none;
  color: var(--title-color);
  /* display: inline; */
  width: 70%;
  /* background-color: palegoldenrod; */
}

.login-btn,
.register-btn {
  padding: 20px 40px;
  color: white;
  background-color: var(--button-color);
  /* background-color: var(--button-color); */
  border: 0;
  font-size: var(--fifteen);
  cursor: pointer;
  /* margin: 0; */
}

/* register form */

.register-form {
  display: none;
  flex-direction: column;
  height: auto;
  transition: all 1s ease;
  padding: 5vh 0 0 0;
}

.register-btn {
  font-size: var(--twenty);
}

.show-form {
  display: flex;
}

.header-div.change-color {
  color: var(--title-color);
  background-color: var(--first-color);
}

.forgot-password-notif {
  position: absolute;
  top: 15vh;
  left: 20vw;
  width: 60vw;
  height: 40vh;
  color: var(--title-color);
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 2vw;
  transform: translateY(-100vh);
  transition: all 0.4s ease;
}

.forgot-password-notif.show-email-notif {
  transform: translateY(0);
}

.notif-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.forgot-password-notif input {
  padding: 10px;
  border: 0;
  outline: none;
}

.email-btn {
  background-color: var(--button-color);
  color: white;
  border: 0;
  outline: none;
  padding: 10px;
}

.close-notif {
  cursor: pointer;
  transition: all 2s ease;
}

/* contact page */

.contact {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cart page */

.cart-section {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh 16vw;
  color: var(--title-color);
  background-color: var(--body-color);
}

.cart-box {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  /* display: none; */
}

.empty-notif {
  /* display: flex; */
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  /* background-color: orangered; */
  /* justify-content: center; */
  align-items: center;
  padding: 10px 10px;
  text-align: center;
  color: var(--title-color);
}

.empty-notif p {
  font-size: 30px;
}

.empty-notif .btn {
  width: 150px;
  margin-top: 20px;
}

.cart-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-header > * {
  width: 33%;
  justify-content: center;
  text-align: center;
}

.cart-header h2:nth-child(3) {
  width: 50%;
  /* text-align: center; */
}
.cart-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.cart-product {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
}

.cart-product > * {
  width: 33%;
}

.first {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  /* background-color: lightcoral; */
}

.first img {
  width: 100px;
  border-radius: 10px;
  margin-right: 5px;
}
.cart-product p {
  text-align: center;
  /* background-color: lightgoldenrodyellow; */
}
.quantity-div {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: palevioletred; */
}

.inner-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid gray;
  width: 60px;
  outline: none;
}

.plus,
.minus {
  padding: 5px 10px;
  color: black;
  border: 0;
  font-size: var(--twenty);
  cursor: pointer;
  outline: none;
}

.remove-btn {
  background-color: var(--first-color);
  color: black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.remove-btn:hover {
  box-shadow: 0px 0px 8px gray;
}
/* moving to next pages */

.section {
  display: none;
}

.section.active-page {
  display: flex;
}

.total-div {
  text-align: right;
  margin-right: 10%;
}

.total-div span {
  margin-left: 15%;
}

/* footer section */

.footer {
  width: 100vw;
  min-height: 70vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  color: var(--title-color);
  background-color: var(--body-color);

  padding: 0 18vw;
}

.footer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.2s linear;
}

.footer a:hover {
  /* filter: brightness(1.9); */
  transform: scale(1.03);
}

.footer-up {
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px;
}

/* .footer-up > * {
  margin: 20px 0px;
} */

.footer-up .information,
.footer-up .about-div,
.footer-up .product-footer {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-up .information,
.footer-up .about-div,
.footer-up .product-footer,
.footer-up .social {
  margin: 20px;
}

.footer-up .information h2,
.footer-up .about-div h2,
.footer-up .product-footer h2,
.footer-up .social h2 {
  margin-bottom: 20px;
}

.footer-up .information > *,
.footer-up .about-div > *,
.footer-up .product-footer > * {
  margin: 5px 0;
}

/* .footer-up > h2 {
  padding: 100px 0;
} */

.icons-div {
  display: flex;

  justify-content: space-between;
  padding-top: 20px;
}

.icons-div i {
  cursor: pointer;
  margin: 0 10px;
}

.icons-div i:nth-child(1) {
  margin: 0 10px 0 0;
}
.footer-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.footer-down .terms {
  display: flex;
  flex-direction: row;
}

.footer-down .terms > * {
  margin-left: 30px;
}

/* our story section */

.our-story {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: palevioletred; */
  /* background-color: var(--container-color); */
  color: var(--title-color);
  padding: 0 16vw;
}

.our-story .div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  /* background-color: lightgreen; */
}

.our-story-img {
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.our-story-img img {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.our-story-img::after {
  position: absolute;
  bottom: -20%;
  left: -15%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  z-index: -1;
}

.our-story-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-story-text > * {
  margin: 10px 0;
}

.our-story-text p {
  width: 70%;
}

.our-story-text .btn {
  width: 100px;
}

/* subscribe */

.subscribe {
  width: 100vw;
  min-height: 50vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}

.inner-subscribe {
  width: 70%;
  min-height: 50vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--first-color);
  align-items: center;
  justify-content: space-around;
}

.inner-subscribe .left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  /* justify-content: end; */
  text-align: left;
  margin-left: 50px;
}

.inner-subscribe .left p {
  width: 85%;
  margin-top: 20px;
}

.inner-subscribe .right {
  width: 50%;
  display: flex;
  flex-direction: row;
  /* background-color: lightcoral; */
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.inner-subscribe .right input {
  padding: 20px;
  font-size: var(--fifteen);
  border: 0;
  outline: none;
  width: 60%;
}

.inner-subscribe .right .subscribe-btn {
  padding: 20px 40px;
  color: white;
  background-color: var(--button-color);
  border: 0;
  font-size: var(--fifteen);
  cursor: pointer;
}

/* media query for screen size less than 1200px */
@media screen and (max-width: 1200px) {
  .nav {
    padding: 0 5vw;
  }

  .home {
    justify-content: space-around;
  }

  .image img {
    width: 350px;
  }

  .our-story {
    padding: 0 12vw;
    justify-content: space-around;
  }

  .testimonials {
    padding: 5vw;
  }

  .testimonial-swiper {
    height: 65vh;
  }

  .inner-subscribe {
    width: 80%;
  }

  .footer {
    padding: 0 5vw;
  }
}

/* media query for screen size less than 1000px */

@media screen and (max-width: 1000px) {
  .home-text h2 {
    font-size: var(--thirty);
  }

  .image {
    width: 35vw;
  }
  .our-story {
    justify-content: space-between;
    padding: 0 8vw;
  }

  .our-story-img {
    width: 350px;
    height: 350px;
    /* margin-right: 0; */
    /* padding-right: 50px; */
  }

  .testimonial-img-div {
    width: 350px;
    height: 350px;
  }

  .products-section {
    padding: 5vw;
  }

  .product {
    margin: 50px 10px;
  }

  .inner-subscribe {
    width: 100%;
  }

  .products-main .products .product {
    margin: 50px 10px;
  }

  .products-main .products .product img {
    width: 100px;
  }

  .products-main .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    /* padding: 0 10vw; */
  }

  .login-section h1 {
    font-size: 30px;
  }

  .login-header {
    font-size: 15px;
  }
  .inner-login {
    font-size: 15px;
  }

  .empty-notif p {
    font-size: 25px;
  }

  .empty-notif .btn {
    width: 150px;
    font-size: 15px;
  }
}

/* media query for screen size less than 760px */

@media screen and (max-width: 760px) {
  .home {
    padding: 0 5vw;
    display: grid;
    grid-template-areas:
      "hometext hometext image image"
      "socialicons socialicons  image image"
      "socialicons socialicons image image";
  }

  .social-icons {
    grid-area: socialicons;
    flex-direction: row;
    margin: 0 10px;
  }

  .social-icons i {
    margin: 0 20px;
    transform: rotate(0deg);
  }
  .image {
    grid-area: image;
    height: 50vh;
    width: 50vw;
    margin-top: -100px;
  }

  .image img {
    width: 300px;
  }

  .home-text {
    grid-area: hometext;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: palevioletred; */

    align-items: flex-start;
    /* margin: 0 50px; */
    width: 80%;
    padding-top: 100px;
    margin: 0 20px;
    font-size: 13px;
  }

  .home-text > * {
    margin: 10px 0;
  }

  .our-story-text {
    width: 60%;
  }

  .testimonials {
    padding-top: 100px;
    margin-bottom: -50px;
    flex-direction: column;
    justify-content: space-between;
  }

  .testimonial-swiper {
    width: 100%;
    height: 60vh;
  }

  .testimonials-btns {
    width: 30%;
  }

  .testimonial-img-div {
    width: 250px;
    height: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .products {
    font-size: 13px;
  }

  .products img {
    width: 100px;
  }

  .inner-subscribe {
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .inner-subscribe .left {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  .inner-subscribe .right {
    width: 100%;
    margin-right: 0px;
  }

  .footer {
    font-size: 15px;
  }

  .products-main h1 {
    font-size: 25px;
  }

  .products-main .products .product {
    margin: 20px 10px;
  }

  .inner-login {
    width: 70%;
  }

  .cart-section {
    padding: 15vh 5vw;
  }

  .empty-notif p {
    font-size: 20px;
  }

  .empty-notif .btn {
    width: 150px;
    font-size: 15px;
  }
}

/* less than 600 poxels */
@media screen and (max-width: 600px) {
  .products-main .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    /* padding: 0 10vw; */
  }

  .cart-box {
    font-size: 12px;
  }
}

/* less than 550px */

@media screen and (max-width: 550px) {
  .home-text h2 {
    font-size: var(--twenty);
  }

  .image {
    height: 50vh;
    width: 50vw;
    margin-top: -100px;
  }

  .image img {
    width: 250px;
  }

  .our-story {
    padding: 0 10vw;
  }

  .our-story > * {
    margin: 20px 0;
  }
  .our-story .div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .our-story-img {
    margin-right: 0;
    margin-bottom: 100px;
    width: 250px;
    height: 250px;
  }
  .our-story-text {
    width: 100%;
    font-size: 15px;
  }

  .our-story-text p {
    width: 100%;
  }

  .testimonial-swiper {
    width: 100%;
    height: 67vh;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .subscribe {
    min-height: 30vh;
  }

  .inner-subscribe {
    /* flex-direction: column; */
    width: 100%;
    font-size: 13px;
    min-height: 30vh;
    padding: 0 5vw;
  }
  .inner-subscribe .right input {
    font-size: 13px;
  }

  .inner-subscribe .right .subscribe-btn {
    font-size: 13px;
  }

  .footer-down {
    flex-direction: column;
  }

  .footer-down > * {
    margin: 20px 0;
  }
  .footer-down .terms {
    flex-direction: column;
  }

  .footer-down .terms > * {
    /* margin-left: 0px; */
    margin: 10px 0;
  }

  .products-main .products .product {
    margin: 20px 10px;
    padding: 5px 20px;
  }

  .login-section h1 {
    font-size: 20px;
  }

  .inner-login {
    width: 90%;
  }

  .login-header {
    font-size: 12px;
  }
  .inner-login {
    font-size: 15px;
  }

  .first img {
    width: 50px;
  }

  .empty-notif p {
    font-size: 20px;
  }

  .empty-notif .btn {
    width: 150px;
    font-size: 15px;
  }
}

/* less than 450  */

@media screen and (max-width: 450px) {
  .home-text {
    margin: 0 0px 0 50px;
    width: 50%;
  }

  .home-text h2 {
    font-size: 15px;
  }

  .image {
    height: 40vh;
    width: 40vw;
    margin-top: -100px;
  }

  .image img {
    width: 200px;
  }

  .testimonials-btns {
    width: 40%;
  }
}

/* pixel size less than 350px */
@media screen and (max-width: 350px) {
  .home {
    padding: 0 5vw;
    display: grid;
    grid-template-areas:
      "hometext hometext "
      " image image"
      "socialicons socialicons ";
  }

  .image {
    width: 70%;
    margin-top: 0px;
    margin: 0 20px;
  }

  .image img {
    width: 200px;
  }

  .our-story {
    padding: 0 10vw;
  }
  .our-story-img {
    width: 200px;
    height: 200px;
  }

  .testimonial-swiper {
    width: 100%;
    height: 70vh;
  }
  .testimonial-img-div {
    width: 200px;
    height: 200px;
  }

  .testimonials-btns {
    width: 60%;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .inner-subscribe .right .subscribe-btn {
    padding: 20px 10px;
  }

  .products-main .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
  }

  .cart-box {
    font-size: 10px;
  }
  .first img {
    width: 30px;
  }
}

/* .swiper {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
  margin: 0;
  color: var(--title-color);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide > * {
  margin: 15px 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.testimonial-swiper i {
  color: var(--first-color);
}

.swiper-button-next {
  position: absolute;
  top: initial;
  bottom: 5%;
  right: initial;
  left: 20%;
  width: initial;
  height: initial;
  padding: 5px;
}
.swiper-button-prev {
  position: absolute;
  top: initial;
  bottom: 5%;
  left: 0%;
  width: initial;
  height: initial;
  padding: 5px;
}

.swiper-button-next i,
.swiper-button-prev i {
  cursor: pointer;
  font-size: 30px;
  color: var(--first-color);
  background-color: var(--container-color);
  padding: 10px;
  border: 0;
} */
